.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 10px 5%;
 font-family: "Cairo", sans-serif;
  position: fixed;
  top:0;
  left:0;
  width:100%;
z-index: 99999;
  &__logo a {
    font-size: 24px;
    font-weight: bold;
    color: #ff6f61;
    text-decoration: none;
  }

  &__search {
    flex: 1;
    max-width: 600px;
    display: flex;
    margin: 0 20px;

    input {
      flex: 1;
      padding: 10px;
      border: none;
      border-radius: 0 4px 4px 0;
      outline: none;
      font-size: 14px;
 font-family: "Cairo", sans-serif;

    }

    button {
      background: #ff6f61;
      border: none;
      padding: 0 20px;
      font-size: 14px;
      cursor: pointer;
      color:#fff;
      border-radius: 4px 0 0 4px;
      transition: 0.3s;
 font-family: "Cairo", sans-serif;


    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 15px;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      position: relative;

      &:hover {
        color: #fe6a5c;
      }
    }

    .cart-icon {
      position: relative;

      a {
        font-size: 20px;
      }

      .cart-count {
        position: absolute;
        top: -8px;
        right: -8px;
        background: #f08804;
        color: white;
        width: 18px;
        height: 18px;
        font-size: 12px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }
    }
  }
}
